@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 20 20% 97%;
    --foreground: 210 10% 12%;
    --card: 20 20% 99%;
    --card-foreground: 210 10% 12%;
    --popover: 20 20% 99%;
    --popover-foreground: 210 10% 12%;
    --primary: 345 60% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 12% 90%;
    --secondary-foreground: 210 10% 18%;
    --muted: 210 12% 92%;
    --muted-foreground: 210 8% 40%;
    --accent: 18 30% 72%;
    --accent-foreground: 210 10% 12%;
    --destructive: 0 70% 45%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 10% 85%;
    --input: 210 10% 85%;
    --ring: 345 60% 40%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
  a[href], button {
    @apply cursor-pointer;
  }
}
